.wrapper {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #bbb;
    width: 82%;
    height: 30px;
}
.latest {
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 50px;
    font-size: 16px;
}

.latest p{
    margin: 5px 0 0 0;
}

.marquee-text {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 30px;
    overflow: visible;
    position: relative;
}

.marquee-text p, .marquee-text img{
    margin: 5px 10px 5px 10px;
}

.marquee-text p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nba-logo {
    height: 20px;
    width: 15px;
}

.body {
    display: flex;
    width: 82%;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.news-heading {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 0 10px;
}

.news-date {
    font-size: 13px;
    color: gray;
    margin: 20px 0 0 10px;
}

.news-details {
    font-size: 17px;
    line-height: 1.4;
    margin: 20px 0 0 10px;
}

.image-container{
    position: relative;
}

.lebron-image {
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px;
}

.overlay {  /*obtained and modified from https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.25); /* Black see-through */
    color: #f1f1f1;
    width: 200px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    margin: 10px 10px 14px;
    padding: 10px 0px 10px;
    text-align: center;
}

.image-container:hover .overlay{
    opacity: 1;
}